.createyourplan{
    height: 563px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 400px;
        height: 400px;
    }
}
@media only screen and (max-width:768px){
    .createyourplan{
        height: auto;
        padding: 100px;
        img{
            max-width: 200px;
            max-height: 200px;
        }
    }
}